.main
  - @books.each do |book|
    .content
      .content__topImage
        = link_to book.bookimage, book_path(book.id)
      .content__title
        = book.booktitle
      .content__review
      - @reviews.each do |review|
        = review.title