.main
  - @books.each do |book|
    .content
      .content__book
        .content__book__topImage
          = image_tag book.bookimage.url, size:'157x222'
        .content__book__title
          = book.booktitle
      .content__review
      - @reviews.each do |review|
        = review.title