.main
  - @books.each do |book|
    .content
      .content__book
        .content__book__topImage
          = link_to book.bookimage.url, book_path(book.id)
        .content__book__title
          = book.booktitle
      .content__review
      - @reviews.each do |review|
        = review.title