.main
  .content
    .content__topImage
    - @books.each do |book|
      = link_to book.bookimage, book_path(book.id)
    .content__title
    - @books.each do |book|
      = book.booktitle
    .content__review
    - @posts.each do |post|
      = post.reviewText