.main
  .content
    -# -@books.each do |book|
    .content__topImage
      -# = book.bookimage
    .content__title
      -# - simple_format(post.title)
    .content__review
      -# = post.reviewText