.main
  .content
  - @books.each do |book|
    .content__topImage
      = link_to book.bookimage, book_path(book.id)
    .content__title
      = book.booktitle
    .content__review
    - @posts.each do |post|
      = post.reviewText