.main{
  top: 80px;
  width: calc(100vw - 250px);
  height: calc(100vh - 80px);
  background-color: blue;
  position: fixed;
  right: 0;
  display: inline-block;
  background: image-url('ELL75_yousyohondana20120620_TP_V.jpg');
  box-sizing: border-box;
  overflow: auto;
  .content{
    background-color: burlywood;
    width: 75vw;
    height: fit-content;
    margin: 20px;
    margin-right: 40px;
    display: flex;
    &__book{
      text-align: center;
      &__topImage{
        background-color: white;
        width: 157px;
        height: 222px;
        margin: 9px;
        object-fit: cover;
      }
      &__title{
        margin: 5px;
        height: 18px;
        line-height: 18px;
        font-size: 18px;
      }
    }
    &__review{
      margin: 5px;
      font-size: 20px;
      display: flex;
      word-wrap: normal;
      width: 60vw;
    }
  }
  .nosuch_books{
    color: white;
    font-size: 70px;
  }
  .pagination{
    color: white;
    a{
      color: white;
      
    }
  }
  .search_preview{
    color: white;
    font-size: 30px;
  }
}