.contents__review{
  padding: 5px;
  &__title{
    
  }
  .reviewPostEdit{
    a{
    }
  }
  &__text{
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px gray;
  }
}