@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "books/side_bar";
@import "books/main_posts";
@import "books/new";
@import "books/show";
@import "reviews/new";
@import "users/show";


.header{
  height: 80px;
  width: 100vw;
  background-color: gray;
  box-sizing: content-box;
  display: flex;
  padding:0 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
  &__title{
    line-height: 80px;

    &__text{
      font-size: 50px;
      color: black;
    }
  }
  .header__right--btn{
    padding:0 20px;
    line-height: 80px;
    color: white;
    right: 10px;
  }
  .search-form{
    width: 600px;
    display: flex;
    margin: 0 auto;
    .search-input{
      width: 90%;
      height: 40px;
    }
    .search-btn{
      width: 10%;
      border-radius:0 2px 2px 0;
      background:#7fbfff;
      border:none;
      color:#fff;
      font-size:16px;
      
    }
  }
}