.contetns_title
  感想を編集する
= form_for @review do |f|
  = f.text_field :title, placeholder: :タイトル, class: :form__title
  = f.text_area :reviewText, placeholder: :感想本文, class: :form__text
  = f.submit '投稿', class: :form__btn
